{% extends 'base.html' %} {% block content %}

<div class="container-fluid" style="background-color:#8ec07c;">
  <div class="row align-items-center p-1">
    <div class="col-9 text-xs-center text-sm-left">
      <h2 class="m-2 tx-xs-center text-sm-left text-white">Welcome, {{ user }}</h2>
    </div>

    <div class="col-3 text-right">
      <i class="fas fa-user fa-2x text-muted"></i>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row mt-4 justify-content-center">
    <div class="col-xs-4 mt-0 mb-4 ml-4 mr-4" style="max-width: 600px; width: 100%;">
      <div class="card">
        <div class="card-header h6 text-secondary">
          <i class="fas fa-check-square text-success"></i> You've successfully logged in
        </div>
        <div class="card-body">
          <p class="card-text">
            We can begin sortifying your collection. <br> <br> We automatically include your <strong
              class="text-info">saved spotify songs</strong> in the sort, but you can make some optional adjustments
            below.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 justify-content-center">
    <div class="col-xs-4 mt-0 mb-4 ml-4 mr-4" style="max-width: 600px; width: 100%">
      <div class="card" style="height:100%">
        <div class="card-header h6 text-secondary">
          I'm ready, sortify my songs!
        </div>
        <div class="card-body">
          <p class="card-text text-center mt-4">
            <button class="btn btn-success btn-hover btn-lg btn-block" type="submit" form="form1"
              formaction="{{ url_for('results') }}"><span class="h4 font-weight-bold m-0">Sortify!</span></button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 justify-content-center">
    <div class="col-xs-4 mt-0 mb-4 ml-4 mr-4 align-self-center" style="max-width: 600px; width: 100%;">
      <div class="card">
        <div class="card-header text-left h6 text-secondary btn" data-toggle="collapse" data-target="#algo">
          <i class="fas fa-angle-down fa-2x d-inline mr-2"></i>Tweak the sorting algorithm...</div>
        <div class="collapse" id="algo">
          <div class="card-body">
            <p class="card-text">
              This is placeholder text 213
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 justify-content-center">
    <div class="col-xs-4 mt-0 mb-4 ml-4 mr-4" style="max-width: 600px; width: 100%;">
      <div class="card">
        <div class="card-header text-left h6 text-secondary btn" data-toggle="collapse" data-target="#playlists">Include
          songs from your playlists...</div>
        <div class="collapse" id="playlists">
          <div class="card-body">
            <p class="card-text">
              <ul class="list-group border rounded" style="max-height: 600px; overflow: auto;">
                <form method="POST" id="form1">
                  {% for playlist in playlists %}
                  <li class="list-group-item">
                    <div data-toggle="buttons">
                      <label class="btn container-fluid p-0 m-1" name="checks" type="button">
                        <input id="{{ playlist['playlist_uri'] }}" value="{{ playlist['playlist_uri'] }}"
                          type="checkbox" data-toggle="button" name="checks" style="display: none;" autocomplete="off">
                        <div class="row justify-content-center text-center text-md-left">
                          <div class="col-sm-4 col-md-2 align-self-center p-1">
                            <img src="{{ playlist['img'] }}" alt="Playlist Image" class="rounded img-fluid"
                              style="width: 50px;height: 50px;">
                          </div>
                          <div class="col-sm-8 col-md-4 align-self-center p-1 text-dark">
                            <h6 class="text-dark font-weight-bold"> {{ playlist['name'] }}</h6>
                            <p class="text-dark mb-0"> {{ playlist['tracks'] }} songs</p>
                          </div>
                          <div class="d-none d-md-block col-md-6 align-self-center text-dark">
                            <p class="mb-0"> {{ playlist['desc'] }}</p>
                          </div>
                        </div>
                      </label>
                    </div>
                  </li>
                  {% endfor %}
                </form>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  $('[data-toggle="buttons"] .btn').on('click', function () {
    // toggle style
    $(this).toggleClass('btn-grey active');

    // toggle checkbox
    var $chk = $(this).find('[type=checkbox]');
    $chk.prop('checked', !$chk.prop('checked'));

    return false;
  });

  /*$('form').on('submit', function(e) {
      // watch form values
      $('#formValues').html(($('form').serialize()));
      e.preventDefault();
  }); */
</script>
{% endblock %}
