{% extends 'base.html' %} {% block content %}

<div class="container-fluid" style="background-color:#8ec07c;">
    <div class="row align-items-center p-1">
        <div class="col-9 text-xs-center text-sm-left">
            <h2 class="m-2 tx-xs-center text-sm-left text-white">Welcome, {{ user }}</h2>
        </div>

        <div class="col-3 text-right">
            {% if img is not none %}
                <img src="{{ img }}" alt="User Image" class="rounded img-fluid"
                    style="width: 50px;height: 50px;">
            {% else %}
                <i class="fas fa-user fa-2x text-muted"></i>
            {% endif %}
        </div>
    </div>
</div>
<div class="container mt-4">
    <h2>Let's configure your sort...</h2>
    <div class="border-top ml-0 mr-0 mt-3 mb-3"></div>
    <ul class="nav nav-pills nav-justified d-flex align-items-center">
        <li class="nav-item m-1">
            <a data-toggle="pill" href="#home" class="nav-link active nav-fill">1. Selection</a>
        </li>
        <li class="nav-item m-1">
            <a data-toggle="pill" href="#menu1" class="nav-link nav-fill">2. Tweaks</a>
        </li>
        <li class="nav-item m-1">
            <button class="btn btn-hover btn-outline-success nav-link nav-fill btn-block border-0" type="submit"
                form="form1" formaction="{{ url_for('results') }}" data-toggle="button">
                <span class="font-weight-bold m-0">
                    3. Sortify!
                    <i class="fa fa-arrow-right fa-xs"></i>
                </span>
            </button>
        </li>
    </ul>
    <!-- <button class="btn btn-success btn-hover btn-lg btn-block" type="submit" form="form1" -->
    <!--     formaction="{{ url_for('results') }}"> -->
    <!--     <span class="h4 font-weight-bold m-0">Let's Go!</span> -->
    <!-- </button> -->
    <!-- <a data-toggle="pill" href="#menu2" class="nav-link">3. Sortify</a> -->


    <div class="border-top ml-0 mr-0 mt-3 mb-3"></div>

    <div class="tab-content">
        <div id="home" class="tab-pane container active mb-4">
            <p>Select the songs you want to be included in the sort. Don't worry, we never modify your existing
                playlists or library</p>
            <ul class="list-group border rounded ml-1 mr-2" style="max-height: 75vh;min-height:600px; overflow: auto;">






                <form method="POST" id="form1">
                    <li class="list-group-item">
                        <div data-toggle="buttons">
                            <label class="btn container-fluid p-0 m-1" name="checks" type="button">
                                <input id="library" value="library"
                                    type="checkbox" data-toggle="button" name="checks" style="display: none;"
                                    autocomplete="off">
                                <div class="row justify-content-center text-center text-md-left">
                                    <div class="col-sm-4 col-md-2 align-self-center p-1">
                                        <img src="" alt="Playlist Image" class="rounded img-fluid"
                                            style="width: 50px;height: 50px;">
                                    </div>
                                    <div class="col-sm-8 col-md-4 align-self-center p-1 text-dark">
                                        <h6 class="text-dark font-weight-bold">Saved music</h6>
                                        <p class="text-dark mb-0"> {{ library_tracks }} songs</p>
                                    </div>
                                    <div class="d-none d-md-block col-md-6 align-self-center text-dark">
                                        <p class="mb-0">Your saved songs</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </li>
                    {% for playlist in playlists %}
                    <li class="list-group-item">
                        <div data-toggle="buttons">
                            <label class="btn container-fluid p-0 m-1" name="checks" type="button">
                                <input id="{{ playlist['playlist_uri'] }}" value="{{ playlist['playlist_uri'] }}"
                                    type="checkbox" data-toggle="button" name="checks" style="display: none;"
                                    autocomplete="off">
                                <div class="row justify-content-center text-center text-md-left">
                                    <div class="col-sm-4 col-md-2 align-self-center p-1">
                                        <img src="{{ playlist['img'] }}" alt="Playlist Image" class="rounded img-fluid"
                                            style="width: 50px;height: 50px;">
                                    </div>
                                    <div class="col-sm-8 col-md-4 align-self-center p-1 text-dark">
                                        <h6 class="text-dark font-weight-bold"> {{ playlist['name'] }}</h6>
                                        <p class="text-dark mb-0"> {{ playlist['tracks'] }} songs</p>
                                    </div>
                                    <div class="d-none d-md-block col-md-6 align-self-center text-dark">
                                        <p class="mb-0"> {{ playlist['desc'] }}</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </li>
                    {% endfor %}
                </form>
            </ul>
        </div>
        <div id="menu1" class="tab-pane container fade">
            <h3>Tweak the sorting algorithm</h3>
            <p>Some content in menu 1.</p>
        </div>
        <div id="menu2" class="tab-pane container fade">
            <p>Click to begin the sort and we'll do the rest</p>
            <p class="text-center mt-4" style="min-height: 600px;">
                <button class="btn btn-success btn-hover btn-lg btn-block" type="submit" form="form1"
                    formaction="{{ url_for('results') }}">
                    <span class="h4 font-weight-bold m-0">Let's Go!</span>
                </button>
            </p>
        </div>
    </div>
</div>
</div>

<script>
    $('[data-toggle="buttons"] .btn').on('click', function () {
        // toggle style
        $(this).toggleClass('btn-grey active');

        // toggle checkbox
        var $chk = $(this).find('[type=checkbox]');
        $chk.prop('checked', !$chk.prop('checked'));

        return false;
    });

    /*$('form').on('submit', function(e) {
        // watch form values
        $('#formValues').html(($('form').serialize()));
        e.preventDefault();
    }); */
</script>



{% endblock %}
